.inverted {
  -webkit-filter: invert(100%);
  background-color: black;
}

hr {
  border-top: solid 1px black;
  width: 95%;
  margin-right: 100%;
}

.applicationBox {
  display: flex;
}

.notePad {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 60%;
  border: solid 2px black;
  border-radius: 5px;
  margin-top: 30px;
  background-color: #f8f2a5;
  position: fixed;
}

.notePadDisplay {
  padding: 0px 20px;
  text-decoration: underline;
  font-size: 16px;
}

.notePadDisplay li {
}

.qandaBoard {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.invertButton {
  width: 50px;
  margin-left: 20px;
}

.display-card {
  background-color: white;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 20px;
  border: solid 2px black;
  border-radius: 5px;
}

.delete-form {
  margin-left: 20px;
  margin-top: -33px;
}

.confirm-input {
  width: 30px;
}

.display-content {
  padding: 10px;
  margin-left: 20px;
}





.editQuestionForm {
  border: solid 2px black;
  border-radius: 5px;
  font-weight: bold;
}

.editQuestionForm form {
  padding: 20px;
}

.editQuestionForm label {
  font-weight: normal;
  color: violet;
}



.stopEditingNotice {
  font-size: 16px;
  margin-top: 10px;
}

.stopEditingNotice:hover {
  cursor: pointer;
  text-decoration: underline;
}

.helpfulAnswer {
  color: yellow;
  border: solid 1px lightblue;
  border-radius: 15px;
  background-color: lightblue;
}

.newQuestionForm {
  margin-left: 30px;
  font-family: sans;
  color: gray;
  background-color: #f8f2a5;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 20px;
  width: 30%;
}

/*  buttons  */

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.deleteButton {
  margin-left: -20px;
  font-size: 16px;
  border: solid 2px red;
  background-color: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.delete-confirm-button {
  font-family: monospace;
  border: solid 1px green;
  color: white;
  background-color: green;
  border-radius: 25px;
  width: 100px;
  font-size: 20px;
}

.delete-confirm-button:hover {
  background-color: lightgreen;
  border: solid 1px lightgreen;
  color: black;
}

.editQuestionForm button {
  border: solid 1px purple;
  color: white;
  background-color: purple;
  border-radius: 25px;
  width: 90px;
}

.editQuestionForm button:hover {
  background-color: violet;
  border: solid 1px violet;
  color: black;
}

.thumbVoteButtons {
  padding: 3px;
  margin-left: 14px;
  border: solid 2px black;
  border-radius: 5px;
}

.trashButton {
  float: right;
  height: 25px;
}


.newQuestionButton {
  height: 40px;
  margin-left: 30px;
  font-size: 26px;
  font-family: sans;
  color: gray;
  background-color: #f8f2a5;
  border: solid 1px gray;
  border-radius: 3px;
}

#pencilIcon {
  margin-top: 10px;
}
