<div class="applicationBox">
  <div class="qandaBoard">
    {{night-mode}}
    {{new-question save2='save3'}}
    {{#each model.questions as |currentQuestion|}}
      {{question-display currentQuestion=currentQuestion destroyQuestion='destroyQuestion'  newAnswer='newAnswer'}}
    {{/each}}
  </div>
  <div class="notePad">
    {{note-pad-display}}
  </div>
</div>
